/* Basics */
body {
    margin: 0 !important;
    padding: 0;
    background-color: #ffffff;
}
table {
    border-spacing: 0;
    font-family: 'Avenir', sans-serif;
    color: #333333;
}
td {
    padding: 0;
}
img {
    border: 0;
}
div[style*="margin: 16px 0"] { 
    margin:0 !important;
}
.wrapper {
    width: 100%;
    table-layout: fixed;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
.webkit {
    max-width: 600px;
    margin: 0 auto;
}

.outer {
Margin: 0 auto;
    width: 100%;
    max-width: 600px;
}

.full-width-image img {
    width: 100%;
    max-width: 600px;
    height: auto;
}

.inner {
    padding: 10px;
}

.one-column .inner {
    padding: 10px 50px;
}

p {
    Margin: 0;
}
a {
    color: #3b4c56;
    text-decoration: none;
}
a.button {
    border: 1px solid #91a4b5;
    border-radius: 30px;
    padding: 5px 25px;
}
.h1 {
    font-size: 21px;
    font-weight: bold;
    Margin-bottom: 18px;
}
.h2 {
    font-size: 18px;
    font-weight: bold;
    Margin-bottom: 12px;
}
 
/* One column layout */
.one-column .contents {
    text-align: left;
}
.one-column p {
    font-size: 14px;
    Margin-bottom: 10px;
}

/*Two column layout*/
.two-column {
    text-align: center;
    font-size: 0;
}

.two-column .column {
    width: 100%;
    max-width: 300px;
    display: inline-block;
    vertical-align: top;
}

.contents {
    width: 100%;
}

.two-column .contents {
    font-size: 14px;
    text-align: left;
}
.two-column img {
    width: 100%;
    max-width: 280px;
    height: auto;
}
.two-column .text {
    padding-top: 10px;
    font-size: 12px;
}

.two-column p {
}

.companyName, .productName {
    text-transform: uppercase;
    font-style: italic;
}

.productDescription {
    Margin-top:20px;
    Margin-bottom:40px;
    font-style: italic;
}

.mrsp {
    min-width: 100px;
    display: inline-block;
}